@model Park
@{
    ViewData["Title"] = "Detail";
    string filePath = string.Empty;
    string scale = (string)ViewData["scale"];
}

@{ filePath = Model.Code.ToLower() + ".jpg"; }



<div id="detail-body">


    <div class="detail-image">
        <img src="~/images/parks/@filePath" />
    <h2 class="park-name">@Model.Name</h2>
            <p>@Model.Description</p>
        <p><em>"@Model.Quote"</em></p>
            <p><em>-- @Model.QuoteSource</em></p>
    </div>
        
        <table class="details">
            <tr>
                <th>Location</th>
                <th>Acreage</th>
                <th>Elevation</th>
                <th>Trail Miles</th>
                <th>Number of Campsites</th>
                <th>Climate</th>
                <th>Entry fee</th>
                <th>Year founded</th>
                <th>Number of Visitors</th>
                <th>Animal species</th>
            </tr>
            <tr>
                
            <td>@Model.State</td>
            <td>@Model.Acerage Acres</td>
            <td>@Model.Elevation ft.</td>
            <td>@Model.Miles sq mi.</td>
            <td>@Model.Campsites</td>
            <td>@Model.Climate</td>
            <td>$@Model.EntryFee</td>
            <td> @Model.YearFounded</td>
            <td>@Model.AnnualVisitorCount per year</td>
            <td>@Model.NumberAnimalSpecies species</td>
 
            </tr>
        </table>


        <form method="get" asp-controller="home" asp-action="detail">
            <input type="hidden" name="code" value="@Model.Code" />
            <input type="submit" name="C" value="temp" />
            <select name="scale">
                <option value="c">Celsius</option>
                <option value="f">Fahrenheit</option>
            </select>
        </form>

        <div id="weathers">
            @foreach (Weather weather in Model.weathers)
            {
                @if (scale == "c")
                {
                    weather.LowTemp =  Math.Round((weather.LowTemp - 32) / 1.8);
                    weather.HighTemp = Math.Round((weather.HighTemp - 32) / 1.8);
                }

                <div class="weather">
                    <img src="~/images/weather/@weather.weatherImages[weather.Forecast]" />

                    <div class="temps">
                        <h3>Low @weather.LowTemp</h3>
                        <h3>High @weather.HighTemp</h3>
                    </div>
                    <div class="alt-info">
                        <div class="temp-advisory">
                            @if (weather.LowTemp < 20)
                            {
                                <h3>don't freeze to death</h3>
                            }
                            @if (weather.HighTemp > 75)
                            {
                                <h3>bring an extra gallon of water</h3>
                            }
                            @if (weather.HighTemp - weather.LowTemp > 20)
                            {
                                <h3>wear breathable layers</h3>
                            }
                        </div>
                        <div class="forecast">
                            <h3>@weather.Forecast</h3>
                        </div>
                        <div class="forecast-advisory">
                            @if (weather.Forecast == "rain")
                            {
                                <h3>pack rain gear and wear waterproof shoes</h3>
                            }
                            else if (weather.Forecast == "snow")
                            {
                                <h3>pack snowshoes</h3>
                            }
                            else if (weather.Forecast == "thunderstorms")
                            {
                                <h3>seek shelter and avoid hiking on exposed ridges</h3>
                            }
                            else if (weather.Forecast == "sunny")
                            {
                                <h3>pack sunblock</h3>
                            }
                        </div>
                    </div>
                    

                </div>
            }
        </div>
</div>




