@model Park
@{
    ViewData["Title"] = "Detail";
    string filePath = string.Empty;
    string scale = (string)ViewData["scale"];
    double displayLow = 0;
    double displayHigh = 0;
}

@{ filePath = Model.Code.ToLower() + ".jpg"; }


<div id="detail-body">

    <div class="detail-image">
        <img src="~/images/parks/@filePath" />
        <h2 class="park-name">@Model.Name</h2>
        <p>@Model.Description</p>
        <p><em>"@Model.Quote"</em></p>
        <p><em>-- @Model.QuoteSource</em></p>
    </div>

    <div class="park-details">
        <div class="left-details">
            <h3>State: @Model.State</h3>
            <h3>Founded in: @Model.YearFounded</h3>
            <h3>Entry fee: $@Model.EntryFee</h3>
            <h3>@Model.Acerage Acres</h3>
            <h3>Campsites: @Model.Campsites</h3>
        </div>
        <div class="right-details">
            <h3>Hikeable miles: @Model.Miles sq mi.</h3>
            <h3>Elevation: @Model.Elevation ft.</h3>
            <h3>Climate: @Model.Climate</h3>
            <h3>Yearly visitors: @Model.AnnualVisitorCount per year</h3>
            <h3>Unique Species in Park: @Model.NumberAnimalSpecies species</h3>
        </div>
    </div>

    <div class="temp-form">
        <form method="get" asp-controller="home" asp-action="detail">
            <input type="hidden" name="code" value="@Model.Code" />
            <input type="submit" name="C" value="temp" />
            <select name="scale">
                <option value="c">Celsius</option>
                <option value="f">Fahrenheit</option>
            </select>
        </form>
    </div>

    <div id="weathers">
        @foreach (Weather weather in Model.weathers)
        {
            displayLow = weather.LowTemp;
            displayHigh = weather.HighTemp;

            if (scale == "c")
            {
                displayLow = Math.Round((weather.LowTemp - 32) / 1.8);
                displayHigh = Math.Round((weather.HighTemp - 32) / 1.8);
            }

            <div class="weather">
                <img src="~/images/weather/@weather.weatherImages[weather.Forecast]" />

                <div class="temps">
                    <h3 >Low @displayLow</h3>
                    <h3 >High @displayHigh</h3>
                </div>

                <div class="temp-advisory">
                    @if (weather.LowTemp < 20)
                    {
                        <h4>*don't freeze to death*</h4>
                    }
                    @if (weather.HighTemp > 75)
                    {
                        <h4>*bring an extra gallon of water*</h4>
                    }
                    @if (weather.HighTemp - Model.weathers[0].LowTemp > 20)
                    {
                        <h4>*wear breathable layers*</h4>
                    }
                </div>

                <div class="forecast-advisory">
                    @if (weather.Forecast == "rain")
                    {
                        <div class="rain-icon">
                            <i class="fa fa-umbrella" aria-hidden="true"></i>
                            <h4>*pack rain gear and wear waterproof shoes*</h4>
                        </div>
                    }
                    else if (weather.Forecast == "snow")
                    {
                        <div class="cold-icon">
                            <i class="fa fa-thermometer-empty" aria-hidden="true"></i>
                            <h4>*pack snowshoes*</h4>
                        </div>
                    }
                    else if (weather.Forecast == "thunderstorms")
                    {
                        <div>
                            <i class="fa fa-umbrella" aria-hidden="true"></i>
                            <h4>*seek shelter and avoid hiking on exposed ridges*</h4>
                        </div>
                    }
                    else if (weather.Forecast == "sunny")
                    {
                        <div class="hot-icon">
                            <i class="fa fa-thermometer-full" aria-hidden="true"></i>
                            <h4>*pack sunblock*</h4>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>




