@model IList<Park>
@{
    ViewData["Title"] = "Home Page";
    string filePath = string.Empty;
}

<h2>Index</h2>

<div id="parks">
    @foreach (Park park in Model)
    {
        <div class="park">
            <div class="park-image">
                <a asp-controller="home" asp-action="detail" asp-route-id="@park.Code">
                    @{ filePath = park.Code.ToLower() + ".jpg"; }
                    <img src="~/images/parks/@filePath" />
                </a>
            </div>
            <div class="park-info">
                <a asp-controller="home" asp-action="detail" asp-route-id="@park.Code">
                    <h3>@park.Name</h3>
                </a>
                <h4>@park.State</h4>
                <p>@park.Description</p>
            </div>
        </div>

    }
</div>
